.dashboard-icon {
     font-size: 3.5rem;
}

.dashboard-photo{
     width: 7em;
     height: 7em;
     object-fit: cover;
}

.edit-photo{
     width: 7em;
     height: 7em;
     object-fit: cover;
}

.edit-icon {
     font-size: 7em;
}